apiVersion: apps/v1
kind: Deployment
metadata:
  name: sales-service
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: sales-service
          image: your-registry/sales-service:prod-1.0.0
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
