apiVersion: apps/v1
kind: Deployment
metadata:
  name: sales-service
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: sales-service
          image: your-registry/sales-service:staging-1.0.0
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
